.main{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    position: absolute;
    top: 0px;
    left: 0px;
}

.tabuleiro{
    margin: auto;
    width: 600px;
    height: 600px;
    position: relative;
    display: table;
    border: 2px solid lightgrey;

}

#linha1, #linha2, #linha3, #linha4, #linha5, #linha6, #linha7, #linha8{
    width: auto;
    position: relative;
    display: table-row;
}

#branco{
    background-color: white;
}

#preto{
    background-color: black;
}

#branco, #preto{
    width: 75px;
    height: 75px;
    position: relative;
    display: table-column;
    float: left;
}

.cavalo{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: move-div 10s infinite;
}

img{
    position: relative;
    z-index: 1;
    width: 75px;
    height: 75px;
}

@keyframes move-div{
    0%{top: 0px;}
    5%{top: 150px; left: 0;}
    10%{top: 150px; left: 75px;}
    15%{top: 300px; left: 75px;}
    25%{top: 300px; left: 225px;}
    35%{top: 450px; left: 225px;}
    40%{top: 450px; left: 375px;}
    50%{top: 525px; left: 375px;}
    55%{top: 450px; left: 375px;}
    60%{top: 450px; left: 225px;}
    75%{top: 300px; left: 225px;}
    85%{top: 300px; left: 75px;}
    90%{top: 150px; left: 75px;}
    95%{top: 150px; left: 0;}
    100%{top: 0px;}
}